/*---------------------- Font ---------------------*/
@font-face {
  font-family: "Source Code Pro";
  src: url("res/fonts/Source Code Pro regular.ttf");
}

@font-face {
  font-family: "Source Code Pro 500";
  src: url("res/fonts/Source Code Pro 500.ttf");
}

/* line 15, css-generate/sass/_custom.scss */
html {
  height: 100%;
}

/* line 17, css-generate/sass/_custom.scss */
body {
  font-family: "aller-light";
  font-size: 14px;
  color: #30404f;
  margin: 0;
  padding: 0;
}

/* line 24, css-generate/sass/_custom.scss */
.container {
  position: relative;
  width: 100%;
}
/* line 27, css-generate/sass/_custom.scss */
.container > div {
  clear: both;
}
/* line 30, css-generate/sass/_custom.scss */
.container ul {
  -webkit-padding-start: 0px;
  list-style: none;
  margin: 0;
}

/* line 36, css-generate/sass/_custom.scss */
.row {
  min-height: 60px;
  width: 100%;
  line-height: 60px;
}

/*---------------------- Low resolutions (> 320px) ---------------------*/
@media only screen and (min-width: 320px) {
  /* line 48, css-generate/sass/_custom.scss */
  .comment {
    width: 100%;
  }

  /* line 51, css-generate/sass/_custom.scss */
  #handler-vertical {
    width: 0px;
  }

  /* line 55, css-generate/sass/_custom.scss */
  .background {
    width: 0px;
  }
}
/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
  /* line 63, css-generate/sass/_custom.scss */
  .code {
    margin-left: 200px;
  }

  /* line 67, css-generate/sass/_custom.scss */
  .comment {
    width: 160px;
  }

  /* line 71, css-generate/sass/_custom.scss */
  #handler-vertical {
    width: 200px;
  }

  /* line 75, css-generate/sass/_custom.scss */
  .background {
    width: 200px;
  }
}
/*---------------------- (> 1025px) ---------------------*/
@media only screen and (min-width: 1025px) {
  /* line 82, css-generate/sass/_custom.scss */
  .code {
    margin-left: 450px;
  }

  /* line 86, css-generate/sass/_custom.scss */
  .comment {
    width: 410px;
  }

  /* line 90, css-generate/sass/_custom.scss */
  #handler-vertical {
    width: 450px;
  }

  /* line 94, css-generate/sass/_custom.scss */
  .background {
    width: 450px;
  }
}
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, css-generate/sass/_radio_button.scss */
.radio-button {
  display: inline-block;
  background: #9BCD33;
  padding: 1px;
  border-radius: 5px;
  clear: both;
  height: 34px;
  vertical-align: middle;
}

/* line 17, css-generate/sass/_radio_button.scss */
.radio-label {
  -webkit-user-select: none;
  -ms-user-select: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  line-height: 34px !important;
}

/* line 26, css-generate/sass/_radio_button.scss */
.radio-item {
  position: relative;
  float: left;
  min-width: 40px;
  padding: 0px 5px;
  text-align: center;
  cursor: pointer;
  height: 34px;
}

/* line 35, css-generate/sass/_radio_button.scss */
.radio-slider {
  position: absolute;
  width: 100%;
  height: 34px;
  left: 0%;
  top: 0%;
  z-index: 2;
  text-align: center;
  background-color: #f5f5f5;
  -webkit-transition: 0.3s ease-in-out;
  border-radius: 5px 0px 0px 5px;
}

/* line 47, css-generate/sass/_radio_button.scss */
.radio-slider-move {
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: translate(100%);
}

/* line 4, css-generate/sass/options.scss */
body {
  background-color: #f0f0f0;
  width: 60%;
  text-align: center;
  margin: 0px 20%;
  font-size: 18px;
}

/* line 12, css-generate/sass/options.scss */
.header {
  position: relative;
  height: 50px;
  margin: 20px 0px;
}
/* line 16, css-generate/sass/options.scss */
.header .title {
  margin-left: 20px;
  font-size: 36px;
  vertical-align: middle;
}
/* line 21, css-generate/sass/options.scss */
.header img {
  vertical-align: middle;
}

/* line 26, css-generate/sass/options.scss */
.panel {
  background-color: #fff;
  border: 1px solid #9BCD33;
  border-radius: 10px;
  padding: 20px 0px;
}
/* line 31, css-generate/sass/options.scss */
.panel .attr-label {
  float: left;
  width: 45%;
  text-align: right;
  line-height: 60px;
}
/* line 37, css-generate/sass/options.scss */
.panel .attr-value {
  float: right;
  width: 45%;
  text-align: left;
  line-height: 60px;
}
