/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*---------------------- Font ---------------------*/
@font-face {
  font-family: "Anonymous Pro";
  src: url("../resources/fonts/Anonymous Pro regular.ttf");
}

@font-face {
  font-family: "Anonymous Pro Italic";
  src: url("../resources/fonts/Anonymous Pro italic.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../resources/fonts/Source Code Pro regular.ttf");
}

@font-face {
  font-family: "Source Code Pro 500";
  src: url("../resources/fonts/Source Code Pro 500.ttf");
}

/* line 26, css-generate/sass/_custom.scss */
html {
  height: 100%;
}

/* line 28, css-generate/sass/_custom.scss */
body {
  font-family: "aller-light";
  font-size: 14px;
  color: #30404f;
  margin: 0;
  padding: 0;
}

/* line 35, css-generate/sass/_custom.scss */
.container {
  position: relative;
  width: 100%;
}
/* line 38, css-generate/sass/_custom.scss */
.container > div {
  clear: both;
}
/* line 41, css-generate/sass/_custom.scss */
.container ul {
  -webkit-padding-start: 0px;
  list-style: none;
  margin: 0;
}

/* line 47, css-generate/sass/_custom.scss */
.row {
  min-height: 60px;
  width: 100%;
  line-height: 60px;
}

/*---------------------- Low resolutions (> 320px) ---------------------*/
@media only screen and (min-width: 320px) {
  /* line 59, css-generate/sass/_custom.scss */
  .comment {
    width: 100%;
  }

  /* line 62, css-generate/sass/_custom.scss */
  #handler-vertical {
    width: 0px;
  }

  /* line 66, css-generate/sass/_custom.scss */
  .background {
    width: 0px;
  }
}
/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
  /* line 74, css-generate/sass/_custom.scss */
  .code {
    margin-left: 200px;
  }

  /* line 78, css-generate/sass/_custom.scss */
  .comment {
    width: 160px;
  }

  /* line 82, css-generate/sass/_custom.scss */
  #handler-vertical {
    width: 200px;
  }

  /* line 86, css-generate/sass/_custom.scss */
  .background {
    width: 200px;
  }
}
/*---------------------- (> 1025px) ---------------------*/
@media only screen and (min-width: 1025px) {
  /* line 93, css-generate/sass/_custom.scss */
  .code {
    margin-left: 450px;
  }

  /* line 97, css-generate/sass/_custom.scss */
  .comment {
    width: 410px;
  }

  /* line 101, css-generate/sass/_custom.scss */
  #handler-vertical {
    width: 450px;
  }

  /* line 105, css-generate/sass/_custom.scss */
  .background {
    width: 450px;
  }
}
/* line 1, css-generate/sass/_popover.scss */
.row {
  width: 100%;
  padding: 5px 0px;
  clear: both;
}

/* line 6, css-generate/sass/_popover.scss */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  min-width: 100px;
  min-height: 10px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 26, css-generate/sass/_popover.scss */
.popover .popover-header {
  padding: 5px 8px;
  font-size: 18px;
  color: #9BCD33;
  border-bottom: 1px solid #9BCD33;
}
/* line 32, css-generate/sass/_popover.scss */
.popover .popover-detail {
  padding: 5px 8px;
  font-size: 14px;
}

/* line 37, css-generate/sass/_popover.scss */
.arrow-rotate {
  -webkit-transform: rotate(180deg);
}

/* line 40, css-generate/sass/_popover.scss */
#arrowDnow {
  -webkit-transition: 0.2s ease-in-out;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, css-generate/sass/_radio_button.scss */
.radio-button {
  display: inline-block;
  background: #9BCD33;
  padding: 1px;
  border-radius: 5px;
  clear: both;
  height: 34px;
  vertical-align: middle;
}

/* line 17, css-generate/sass/_radio_button.scss */
.radio-label {
  -webkit-user-select: none;
  -ms-user-select: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  line-height: 34px !important;
}

/* line 26, css-generate/sass/_radio_button.scss */
.radio-item {
  position: relative;
  float: left;
  min-width: 40px;
  padding: 0px 5px;
  text-align: center;
  cursor: pointer;
  height: 34px;
}

/* line 35, css-generate/sass/_radio_button.scss */
.radio-slider {
  position: absolute;
  width: 100%;
  height: 34px;
  left: 0%;
  top: 0%;
  z-index: 2;
  text-align: center;
  background-color: #f5f5f5;
  -webkit-transition: 0.3s ease-in-out;
  border-radius: 5px 0px 0px 5px;
}

/* line 47, css-generate/sass/_radio_button.scss */
.radio-slider-move {
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: translate(100%);
}

/* line 15, css-generate/sass/tinning.scss */
body {
  width: 400px;
  height: 500px;
}

/* line 20, css-generate/sass/tinning.scss */
ul, li {
  list-style-type: none;
}

/* line 24, css-generate/sass/tinning.scss */
.row {
  width: 100%;
  padding: 5px 0px;
  clear: both;
}

/* line 30, css-generate/sass/tinning.scss */
#top-bar {
  position: fixed;
  top: 0px;
  background-color: #fff;
  display: inline-block;
  width: 400px;
  padding: 10px 0px;
}
/* line 37, css-generate/sass/tinning.scss */
#top-bar .item {
  float: left;
}
/* line 40, css-generate/sass/tinning.scss */
#top-bar .logo {
  margin-left: 10px;
  width: 80px;
}
/* line 44, css-generate/sass/tinning.scss */
#top-bar .options-btn {
  width: 220px;
  text-align: center;
}
/* line 48, css-generate/sass/tinning.scss */
#top-bar .tin-btn {
  float: right;
  text-align: right;
  margin-right: 10px;
}

/* line 54, css-generate/sass/tinning.scss */
.count {
  height: 20px;
  font-size: 10px;
  color: #fff;
  background-color: #C0392B;
  border: 1px solid #C0392B;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
}

/* line 65, css-generate/sass/tinning.scss */
.tab-collection-li, #tab-collection .tab-collection-grid > li, #tab-collection .tab-collection-list > li {
  color: #000;
  border: 1px solid #cccccc;
  background-color: #FFFFFF;
  margin: 4px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
/* line 66, css-generate/sass/tinning.scss */
.tab-collection-li.hover, #tab-collection .tab-collection-grid > li.hover, #tab-collection .tab-collection-list > li.hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

/* line 77, css-generate/sass/tinning.scss */
#tab-collection {
  margin-top: 50px;
}
/* line 79, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-grid {
  margin: 0px 10px 0px 0px;
  padding: 0px;
  clear: both;
}
/* line 83, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-grid > li {
  padding: 10px 0px 10px 10px;
}
/* line 86, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-grid > li .tab-collection-grid-item {
  width: 100%;
  display: inline-block;
}
/* line 89, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-grid > li .tab-collection-grid-item input {
  float: left;
}
/* line 92, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-grid > li .tab-collection-grid-item .icon-pattern {
  width: 300px;
  float: left;
  display: inline;
  margin-left: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
/* line 99, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-grid > li .tab-collection-grid-item .icon-pattern img {
  margin: 0px 2px;
}
/* line 103, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-grid > li .tab-collection-grid-item .icon-open {
  width: 20px;
  float: right;
  font-size: 16px;
}
/* line 111, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list {
  padding: 0px;
}
/* line 112, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list .count {
  margin-top: 5px;
}
/* line 116, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list > li {
  padding: 5px 0px 5px 10px;
}
/* line 119, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list > li .tab-collection-list-item {
  width: 100%;
  display: inline-block;
}
/* line 122, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list > li .tab-collection-list-item input {
  float: left;
}
/* line 125, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list > li .tab-collection-list-item ul {
  float: left;
  padding-left: 10px;
}
/* line 128, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list > li .tab-collection-list-item ul li {
  padding-bottom: 5px;
  padding-top: 5px;
}
/* line 131, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list > li .tab-collection-list-item ul li img {
  vertical-align: middle;
  margin-right: 5px;
}
/* line 135, css-generate/sass/tinning.scss */
#tab-collection .tab-collection-list > li .tab-collection-list-item ul li .title {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
